{% extends 'shared/base.html' %}

{% block content %}
    <h1>Register</h1>

    <form action="{% url 'capstone:register' %}" method="post">
        <fieldset>
            <label for="username">Username: </label>
            <input id="username" type="text" name="username" placeholder="Username">
        </fieldset>

        <fieldset>
            <label for="first_name">First Name: </label>
            <input id="first_name" type="text" name="first_name" placeholder="First Name">
        </fieldset>

        <fieldset>
            <label for="last_name">Last Name: </label>
            <input id="last_name" type="text" name="last_name" placeholder="Last Name">
        </fieldset>


        <fieldset>
            <label for="email">Email: </label>
            <input id="email" type="text" name="email" placeholder="jon@email.com">
        </fieldset>

        <fieldset>
            <label for="phone_number">Phone Number: </label>
            <input id="phone_number" type="text" name="phone_number" placeholder="Phone Number">
        </fieldset>

        <fieldset>
            <label for="address">Address: </label>
            <input id="address" type="text" name="address" placeholder="address">
        </fieldset>

        <fieldset>
            <label for="city">City: </label>
            <input id="city" type="text" name="city" placeholder="City">
        </fieldset>

        <fieldset>
            <label for="state">State: </label>
            <input id="state" type="text" name="state" placeholder="TN">
        </fieldset>

        <fieldset>
            <label for="zipcode">Zipcode: </label>
            <input id="zipcode" type="text" name="zipcode" placeholder="37027">
        </fieldset>

        <input id="userType" type="text" name="userType" value="1" hidden>

        <fieldset>
            <label for="password">Password: </label>
            <input id="password" type="password" name="password" placeholder="Password">
        </fieldset>

        <input type="submit" value="Register" />

    </form>

{% endblock %}