{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Capstone</title>

    {% comment %} <link rel="stylesheet" href="{% static 'styles/base.css' %}" /> {% endcomment %}

    {% block css %}
    {% endblock %}
</head>

<body>
  <nav id="site-nav">
    <ol class="navList">
      <li class="navList__route"><a href="{% url 'capstone:home' %}">Home</a></li>
      {% if user.is_authenticated %}
        <li class="navList__route"><a href="{% url 'capstone:logout' %}">Logout</a></li>
        <li class="navList__route"><a href="{% url 'capstone:donations' %}">Past Donations</a></li>
        <li class="navList__route"><a href="{% url 'capstone:donation_form' %}">Donate</a></li>
        <li class="navList__route"><a href="{% url 'capstone:report' %}">Report</a></li>
      {% else %}
        <li class="navList__route"><a href="{% url 'capstone:login' %}">Log In</a></li>
        <li class="navList__route"><a href="{% url 'capstone:register' %}">Register</a></li>
      {% endif %}
    </ol>
  </nav>

  <main class="main-content">
    {% block content %}
    {% endblock %}
  </main>

  {% block scripts %}
  {% endblock %}
</body>

</html>